
.navbar {
  display: flex;
  justify-content: space-around; /* or any other value like space-between, center, etc. */
  align-items: center;
  padding: 10px; /* Optional padding */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  width: 100%;
}
.navbar-logo {
  width: 150px; /* Adjust width as needed */
  height: auto; /* To maintain aspect ratio */
}
.nav-link {
  /* font-size: 15.25px;
  font-family: Nunito; */
  
  font-weight: 400;
  line-height: 18px;
}
.btn_space {
}
.rightNav{
  width: 35%;
}
.getStarted_btn {
  z-index: 1;
  background-color: #edb159;
  font-weight: 400;
  line-height: 14px;
  width: 159px;
  height: 50px;
  border-radius: 192px;
  text-align: start;
  border: none;
  position: relative;
  padding: 0 2px;
}
.innerCircle {
  width: 44px;
  height: 44px;
  background: #000;
  border-radius: 50%;
  border: none;
  outline: none;
color: #ffff;
display: flex;
justify-content: center;
align-items: center;
}
